/*
  CSS shared by 1)index.html, 2)portfolio.html, and 3)contact.html 
*/

* {
  box-sizing: border-box;
}

body {
  color: #777777;
  background-image: url(../images/ep_naturalwhite.png);
  background-color: #4aaaa5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* this has become needed after making footer fixed position at bottom */
  margin-bottom: 10%;
}

/***** Header at top *******/

header {
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
}

header h1 {
  display: inline-block;
  color: #ffffff;
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 22px;
  margin-left: 150px;
}

header::after {
  content: '';
  display: block;
  clear: both;
}

/* Nav link items */
nav {
  top: 0px;
  left: 150px;
  float: right;
  padding: 20px 0px 0px 0px;
  margin-right: 150px;
}

nav ul li {
  float: left;
  padding: 15px 0px 15px 20px;
}

nav ul li a:link {
  color: #777777;
  text-decoration: none;
}

nav ul li a:visited {
  color: #777777;
}

nav ul li a:hover {
  color: #4aaaa5;
  background-color: #ddd;
}

/***** Middle Section *******/

section {
  display: block;
  background-color: #ffffff;
  margin: 30px 150px;
  padding: 0px 25px;
  /* width: 75%; */
}

section h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid #dddddd;
  margin: 15px 0px;
  padding: 15px 0px;
}

article {
  line-height: 2.0em;
}

aside img {
  width: 150px;
  float: left;
  margin: 10px 15px 0px 0px;
}

/***** Portfolio Page *******/

.portfolio {
  min-height: calc(100vh - 70px);
}

.portfolio-box {
  position: relative;
  float: left;
  width: 33%;
  margin: 3% 3% 3% 3%;
  overflow: auto;
}

.portfolio-box img {
  width: 100%;
  height: auto;
  border: 0 none;
  opacity: 0.8;
}

.portfolio-caption {
  position: absolute;
  bottom: 12%;
  width: 100%;
  padding: 1em;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1em;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}


/***** Contact Page *******/
input[type=text] {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  /* border-radius: 4px; */
  background-color: #f8f8f8;
  resize: vertical;
}

input[type=submit] {
  width: 15%;
  background-color: #4aaaa5;
  color: white;
  padding: 7px 10px;
  margin: 5px 0;
  border: none;
  font-size: 1.05em;
  /* border-radius: 4px; */
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/***** Footer at the bottom *******/
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #666666;
  color: #ffffff;
  font-size: 0.8em;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 7px;
  padding-top: 39px;
  border-top: 5px solid #4aaaa5;
}

/*** Responsive Web Design ***/

/* * * * * * * * * * 980px * * * * * * * * * * */

@media screen and (max-width: 980px) {
  body {
    margin-bottom: 20%;
  }

  /***** Header at top *******/
  header h1 {
    margin-left: 5%;
  }

  /* Nav link items */
  nav {
    margin-right: 5%;
  }

  /***** Middle Section *******/
  section {
    margin: 5% auto auto 5%;
    width: 65%;
  }
}

/* * * * * * * * * * 768px * * * * * * * * * * */

@media screen and (max-width: 768px) {
  body {
    margin-bottom: 20%;
  }

  /***** Header at top *******/
  header h1 {
    margin-left: 2%;
  }

  /* Nav link items */
  nav {
    margin-right: 2%;
  }

  /***** Middle Section *******/
  section {
    margin: 5% 2% 3% 2%;
    width: 95%;
  }

  /***** Portfolio Page *******/
  .portfolio {
    min-height: calc(100vh + 70px);
  }
  .portfolio-box {
    width: 43%;
  }
}

/* * * * * * * * * * 640px * * * * * * * * * * */
@media screen and (max-width: 640px) {
  body {
    margin-bottom: 20%;
  }

  /***** Header at top *******/
  header {
    position: static;
    margin: 0 0;
  }

  header h1 {
    display: block;
    width: 100%;
    margin-left: 0%;
  }

  /* Nav link items */
  nav {
    float: none;
    display: block;
    left: 0px;
    margin: 1% 33%;
    padding: 0% 0%;
  }

  nav ul li {
    padding: 10% 3%;
  }

  /***** Middle Section *******/
  section {
    margin: 7% 2% 3% 2%;
    width: 95%;
  }

  aside img {
    float: none;
    display: block;
    width: 90%;
    height: auto;
    margin: 0% 5%;
  }

  /***** Portfolio Page *******/
  .portfolio {
    min-height: calc(220vh);
  }
  .portfolio-box {
    width: 72%;
    margin: 3% 3% 3% 16%;
  }
}